@import '@fortawesome/fontawesome-free/css/fontawesome.css';
@import '@fortawesome/fontawesome-free/css/regular.css';
@import '@fortawesome/fontawesome-free/css/solid.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

main {
	display: flex;
	gap: 1rem;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
	flex-wrap: wrap;
}